<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <h1>Recipe Book</h1>

    {% if request.user.is_authenticated %}
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">LOGOUT</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">LOGIN</a>
    {% endif %}

    <h2> You are viewing {% block page_title %}{% endblock %}</h2>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>